<div class="header">
  <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
    <img style="width:45px;height:45px;float:left;" ng-src="images/common/case_logo.png" class="pure-img">
    <a class="pure-menu-heading" ng-href="https://www.ibm.com/devops/method/category/architectures/" target="_blank">IBM Cloud Architecture</a>
    <ul class="pure-menu-list">
      <li class="pure-menu-item pure-menu-selected"><a class="pure-menu-link" href="#!/">Home</a></li>
      <li class="pure-menu-item"><a class="pure-menu-link" href="#!/catalog">Catalog</a></li>
      <li ng-show="!loggedIn" class="pure-menu-item"><a class="pure-menu-link" href="#!/login">Log In</a></li>
      <li ng-show="loggedIn" class="pure-menu-item"><a class="pure-menu-link" href="#!/customer">Profile</a></li>
      <li ng-show="loggedIn" class="pure-menu-item"><a class="pure-menu-link" href="#!/logout">Logout</a></li>
    </ul>
  </div>
</div>
<div class="splash-container">
  <div class="splash">
    <h1 class="splash-head">BLUECOMPUTE STORE!</h1>
    <p class="splash-subhead">CHECK OUR AWESOME COLLECTIONS!</p>
    <p class="splash-subhead">{{ clusterAndRegion }}</p>
    <p><a class="pure-button pure-button-primary" href="#!/catalog">Browse Item Catalog</a></p>
  </div>
</div>
<!--
<div style="top: 87%;" class="content-wrapper">
  <div class="content">
    <h2 class="content-head is-center"><a href="https://developer.ibm.com/architecture/" target="_blank" style="text-decoration: none">IBM Cloud Architecture Center</a></h2>
  </div>
</div>-->
