<div class="header">
  <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed"><a class="pure-menu-heading" href="#"></a>
    <ul class="pure-menu-list">
      <li class="pure-menu-item pure-menu-selected"><a class="pure-menu-link" href="/">Home</a></li>
      <li class="pure-menu-item"><a class="pure-menu-link" href="/inventory">Inventory</a></li>
      <li class="pure-menu-item"><a class="pure-menu-link" href="#">Log In</a></li>
    </ul>
  </div>
</div>
<div class="content-wrapper">
  <div class="content is-center">
    <form class="pure-form pure-form-aligned" action="/login" method="post">
      <fieldset>
        <div class="pure-control-group">
          <input class="login-input" id="username" name="username" type="text" placeholder="Username"/>
        </div>
        <div class="pure-control-group">
          <input class="login-input" id="password" name="password" type="password" placeholder="Password"/>
        </div>
