extends index-layout

block content
  div.header
    div.home-menu.pure-menu.pure-menu-horizontal.pure-menu-fixed
      a(href="#").pure-menu-heading= title
      ul.pure-menu-list
        li.pure-menu-item.pure-menu-selected
          a.pure-menu-link Home
        li.pure-menu-item
          a(href="/inventory").pure-menu-link Inventory
  div.splash-container
    div.splash
      h1.splash-head Buy our things!
      p.splash-subhead In our awesome store!
      p
        a(href="/inventory").pure-button.pure-button-primary Browse Item Inventory
  div.content-wrapper
    div.content
      h2.content-head.is-center Excepteur sint occaecat cupidatat.
      div.pure-g
        div.l-box.pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
          h3.content-subhead
            i.fa.fa-rocket
            | Get Started Quickly
          p Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
        div.l-box.pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
          h3.content-subhead
            i.fa.fa-mobile
            | Responsive Layouts
          p Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
        div.l-box.pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
          h3.content-subhead
            i.fa.fa-th-large
            | Modular
          p Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
        div.l-box.pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
          h3.content-subhead
            i.fa.fa-check-square-o
            | Plays Nice
          p Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
    div.ribbon.l-box-lrg.pure-g
      div.l-box-lrg.is-center.pure-u-1.pure-u-md-1-2.pure-u-lg-2-5
        img(width="300" alt="File Icons" src="images/common/file-icons.png").pure-img-responsive
      div.pure-u-1.pure-u-md-1-2.pure-u-lg-3-5
        h2.content-head.content-head-ribbon Laboris nisi ut aliquip.
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          | consequat. Duis aute irure dolor.
    div.content
      h2.content-head.is-center Dolore magna aliqua. Uis aute irure.
    div.footer.l-box.is-center View the source of this layout to learn more. Made with love by the YUI Team.
