doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/pure/pure-min.css')
    link(rel='stylesheet', href='/stylesheets/pure/grids-responsive-min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/pure/layouts/main.css')
  body
    block content
