extends login-layout

block content
  div.header
    div.home-menu.pure-menu.pure-menu-horizontal.pure-menu-fixed
      a(href="#").pure-menu-heading= title
      ul.pure-menu-list
        li.pure-menu-item.pure-menu-selected
          a(href="/").pure-menu-link Home
        li.pure-menu-item
          a(href="/inventory").pure-menu-link Inventory
        li.pure-menu-item
          a(href="#").pure-menu-link Log In
  div.content-wrapper
    div.content.is-center
      form(action="/login" method="post").pure-form.pure-form-aligned
        fieldset
          div.pure-control-group
            input(id="username" name="username" type="text" placeholder="Username").login-input
          div.pure-control-group
            input(id="password" name="password" type="password" placeholder="Password").login-input
          div.pure-controls
            button(type="submit" value="login").pure-button.pure-button-primary.login-button Log In
    div.footer.l-box.is-center View the source of this layout to learn more. Made with love by the YUI Team.
